<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StarWarsLibrary.Properties.Settings.MaChaineParDefaut"
            connectionString="Server=DESKTOP-LES1U0B\SQLEXPRESS;Database=eni.bdd.wookies.dev;Trusted_Connection=True;" />
    </connectionStrings>
</configuration>